@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Tourney:ital,wght@1,900&display=swap');


.flashes h3 {
    line-height: 4;
}
/*   Navbar   */
.nav-link {
    color: #fafafa;
}
.logo {
    margin-left: 5px;
    font-size: 30px;
    font-family: 'Pacifico', cursive;
    letter-spacing: 3px;
    text-shadow: 12px 12px 12px rgb(0, 0, 0 , 0.5);
    text-transform: uppercase;
    color: #fafafa;
}

.home-photo {
    margin-top: 50px;
    object-fit: cover;
    max-height: 25rem
}


/*   Profile   */
h3 {
    letter-spacing: 2px;
}

/*  Recipes  */
.recipes-search {
    margin-top: 25px;
}
.recipies-text{
    margin-top: 5%;
    text-align: center;
    font-weight: 900;
    font-size: xx-large;
}


.photo-recipes {
    margin-top: 2%;
    height: 37vh;
    width: 20vw;
    object-fit: scale-down;
}

.card {
    float: left;
    margin-left: 5px;
    margin-top: 5%;
    width: 16rem;
    max-height: 38rem;
    min-height: 38rem;
    border: thick double #607d8b;
}
.recipe-name {
    margin-top:40px;
}

.card-recipe {
    border: thick double #607d8b;
    padding:20px;
}

.card-image {
    max-width: 100%;
    object-fit: contain;
}

.card-content {
    margin-top:5vh;
}

.card-footer{
    background-color: #607d8b;
    text-decoration: none;
    text-align: center;
}
.card-footer:hover {
    background-color: #000;
}
/* Registration */


.photo-registration {
    object-fit: cover;
    width: 100%;
    height: 25rem;
}

/*  Login   */
.card-login{
    border:thick double #607d8b;
    margin-left:10% ;
}
.photo-login{
    object-fit: cover;
    width: 100%;
    height: 25rem;
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .navbar-ligh{
        display: none;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .navbar-ligh{
        display: none;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .navbar-mobile{
        display: none;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .navbar-mobile{
        display: none;
    }
}