@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Tourney:ital,wght@1,900&display=swap');


.flashes h3 {
    line-height: 4;
}
/*   Navbar   */
.nav-link {
    color: #fafafa;
}
.logo {
    margin-left: 5px;
    font-size: 30px;
    font-family: 'Pacifico', cursive;
    letter-spacing: 3px;
    text-shadow: 12px 12px 12px rgb(0, 0, 0 , 0.5);
    text-transform: uppercase;
    color: #fafafa;
}


/*   Profile   */
h3 {
    letter-spacing: 2px;
}

/*  Recipe  */
.recipies-text{
    margin-top: 5%;
    text-align: center;
    font-weight: 900;
    font-size: xx-large;
}


.photo-recipe {
    margin-top: 2%;
    height: 37vh;
    width: 20vw;
    object-fit: scale-down;
}

.card-title {
    size: 66px;
}
.card {
    float: left;
    margin-left: 5px;
    margin-top: 5%;
    width: 16rem;
    
}
/* Add_recipe */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .navbar-ligh{
        display: none;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .navbar-ligh{
        display: none;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .navbar-mobile{
        display: none;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .navbar-mobile{
        display: none;
    }
}