<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cooking-Concept</title>
  <!-- Materialize CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!--  Bootstrap-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <!-- FontAwesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" 
  integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" type="text/css"/>
  <!-- CSS stylesheet -->
  <link rel="stylesheet" href="{{ url_for('static' , filename = 'css/style.css') }}">
 {% block styles %}

 {% endblock %}

</head>
<title>MS-3</title>
<body>
    <header>
        <nav>
           <!-- Navbar large screens -->
          <div class="navbar navbar-expand-lg  blue-grey">
            <div class="container-fluid">
              <a class="navbar-brand text-white logo" href="{{url_for('home')}}">Concept-Cooking</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll text-white" style="--bs-scroll-height: 100px;">
                  <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" href="{{url_for('home')}}">Home</a>
                  </li>
                {% if session.user %}
                  <li class="nav-item">
                    <a class="nav-link text-white" href="{{url_for('add_recipe') }}">New Recipes</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-white" href="{{url_for('profile', username=session['user'])}}">Profile</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-white" href="{{url_for('recipes')}}">Recipes</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-white" href="{{url_for('logout')}}">Log Out</a>
                  </li>
                {% else %}
                  <li class="nav-item">
                    <a class="nav-link text-white" href="{{url_for('login')}}">Log In</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-white" href="{{url_for('register')}}">Registration</a>
                  </li>
                {% endif %}
                </ul>
              </div>
            </div>
          </div>

          <!-- Mobile navbar -->
          <div class="navbar navbar-light fixed-top blue-grey navbar-mobile ">
            <div class="container-fluid">
              <a class="navbar-brand logo text-white" href="{{url_for('home')}}">Concept-Cooking</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon "></span>
              </button>
              <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                  <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Concept-Cooking</h5>
                  <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                  <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="{{url_for('home')}}">Home</a>
                    </li>
                  {% if session.user %}
                    <li class="nav-item">
                      <a class="nav-link" href="{{url_for('add_recipe') }}">New Recipe</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{{url_for('profile', username=session['user'])}}">Profile</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link " href="{{url_for('recipes')}}">Recipes</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{{url_for('logout')}}">Log Out</a>
                    </li>
                  {% else %}
                    <li class="nav-item">
                      <a class="nav-link" href="{{url_for('login')}}">Log In</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{{url_for('register')}}">Registration</a>
                    </li>
                  {% endif %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </nav>
    </header>
    <section>
      <!--  flash massages  -->
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <div class="row flashes">
              <h3 class="text-shadow blue accent-3 lighten-3 white-text center-align text-uppercase">{{ message }}</h3>
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
    </section>
    
    <main class="container">

      {% block content %}
      {% endblock %}
      
    </main>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
        
    {% block scripts %}
    {% endblock %}
</body>
</html>