{% extends "base.html" %}
{% block content %}
    <div class="container ">
        <div class="row">
            <img  class="col s4 m4 photos " src="/static/images/slide4.jpg" alt="meal-left">
            <img class="col s4 m4 photos" src="/static/images/slide2.jpg" alt="meal-center">
            <img class="col s4 m4 photos" src="/static/images/slide3.jpg" alt="meal-right">
        </div>
    </div>

    <div class="text-container blue-grey-text center-align">
        <h2>Welcome to Concept-Cooking</h2>
        <p class="center-align">
            Concept-Cooking contains a large range of dishes.
            Concept-Cooking was created to quickly find tasty and easy to prepare dishes.
            We want our users to be able to quickly and easily find an idea for their meal for this purpose we want to create the largest possible database of dishes. 
            If you want to add a new recipe or edit an existing one, you must become our user, if you are not logged in yet Login.
        </p>
    </div>
{% endblock %}