{% extends "base.html" %}
{% block content %}
    <section class="h-100 h-custom" >
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-8 col-xl-6">
              <div class="card-profile rounded-3 px-5 py-3 text-uppercase blue-grey text-white align-middle">
                <h3> {{username}}'s Profile</h3>
                

              </div>
            </div>
          </div>
        </div>
      </section>
{% endblock %}