{% extends "base.html" %}
{% block content %}
    <section class="h-100 h-custom" >
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-8 col-xl-6">
              <div class="card-login rounded-3">
                <img src="static/photos/slide2.jpg" class="photo-registration" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;" alt="Sample photo">
                <div class="card-body p-4 p-md-5">
                  <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Registration Info</h3>
      
                    <form class="px-md-2" method="POST" action="{{url_for('register')}}">
      
                        <div class="form-outline mb-4">

                        <input type="text" id="username" name="username" class="form-control validate" minlength="5" maxlength="15" pattern="^[a-zA-z0-9]{5,15}$" required />
                        <label class="form-label" for="username"><i class="fas fa-user-check prefix "></i>Username</label>
                        </div>
                        <div class="form-outline mb-4">
                            <input id="password" type="password" name="password" class= "form-control validate" minlength="5" maxlength="15" pattern="^[a-zA-z0-9]{5,15}$" required>
                            <label class="form-label" for="password"><i class="fas fa-user-lock prefix"></i>Password</label>

                        </div>
                        <button type="submit" class="btn blue-grey text-white btn-lg mb-1">Submit</button>
                    </form>
                </div>
                <div class="row">
                    <div class="col s12 px-4">
                        <p>You already have your account? <a href="{{url_for('login')}}" class="text-blue-grey">Log in to your account</a></p>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
{% endblock %}